# SYMMETRY_PAIR / SYMMETRY_SELF / FLOW / WIRE_WIDTH

DEVICE_SPACING              5
ACTIVE_ROUTE_SPACING ALL    0.20
DIFF_NET_ROUTE_SPACING ALL  0.14
ACTIVE_REGION_BLOCK ALL

WIRE_WIDTH  N_TOP_A  0.05  1.0
WIRE_WIDTH  N_TOP_B  0.05  1.0
WIRE_WIDTH  N_LOAD_A 0.05  1.0
WIRE_WIDTH  N_LOAD_B 0.05  1.0
WIRE_WIDTH  VDD     0.05  1.0
WIRE_WIDTH  GND     0.05  1.0
