# SYMMETRY_PAIR / SYMMETRY_SELF / FLOW / WIRE_WIDTH

DEVICE_SPACING              5
ACTIVE_ROUTE_SPACING ALL    0.20
DIFF_NET_ROUTE_SPACING ALL  0.14
ACTIVE_REGION_BLOCK ALL

SYMMETRY_PAIR  sg_resistor_array   vertical  XR13  XR10
SYMMETRY_PAIR  sg_resistor_array   vertical  XR14  XR9
SYMMETRY_PAIR  sg_resistor_array   vertical  XR27  XR26
SYMMETRY_PAIR  sg_resistor_array   vertical  XR32  XR30
SYMMETRY_PAIR  sg_load_tail_array  vertical  XC5   XC6
SYMMETRY_PAIR  sg_load_tail_array  vertical  MP23  MP24
SYMMETRY_PAIR  sg_load_tail_array  vertical  MM33  MM34

WIRE_WIDTH     VDD    0.05  1.0
WIRE_WIDTH     GND    0.05  1.0
WIRE_WIDTH     LOI+   0.05  1.0
WIRE_WIDTH     LOI-   0.05  1.0
